
<div ng-controller="CurrencyConverterController as ctrl">
    <div class="well">
        <form ng-submit="ctrl.convert()" class="form-inline">
            <input required type="number" class="form-control" ng-model="ctrl.amount" />
            <select required class="form-control" ng-options="currency as currency.currencyCode for currency in ctrl.rate.rates" ng-model="ctrl.currencyFrom"> </select> 
            <select required class="form-control" ng-options="currency as currency.currencyCode for currency in ctrl.rate.rates" ng-model="ctrl.currencyTo"></select> 
            <button type="submit" class="btn btn-primary">Convert</button>

            <div class="pull-right currency-result" ng-if="ctrl.result !== undefined">
                {{ctrl.result}}
            </div>
        </form>
    </div>
</div>


<h1>Daily rates</h1>

<div ng-controller="DailyRatesController as ctrl">
    {{ctrl.test}}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tr ng-repeat="rate in ctrl.rate.rates">
            <td>{{rate.currencyCode}}</td>
            <td>{{rate.rate}}</td>
        </tr>
    </table>
</div>

{{ctrl.rate| json}}