<form class="well center" style="font-size: small">
    <label>User name:</label><br/>
    <div class="form-group">
        <input type="text" class="form-control" id="userName" placeholder="User name" ng-model="newuser.userName"/><br/>
    </div>
    <label>Password:</label><br/>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="newuser.password"/><br/>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" ng-click="save()" class="btn btn-primary"/>
    </div>
    <div class="alert-danger"><span class="alert-danger">{{error}}</span></div>
</form>